<!-- This is the education component -->
<div class="education-page">
  <br><br><br><br>
  <div class="container-fluid">
    <div class="jumbotron">
      <h4>Educational background:</h4><br>
      <div class="dropdown">
        <div class="dropdown-header" id="header-1">
          <h5 style="margin: 0rem !important">
            <div class="row">
              <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11">
                <span>Post-Graduation</span>
              </div>
              <div class="col-sm-1 col-lg-1 col-xl-1">
                <button class="btn btn-link" data-toggle="collapse" data-target="#body-1" aria-expanded="false">
                  <i id="mit-caret-1" class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </h5>
        </div>
        <div class="dropdown-body collapse" id="body-1">
          <br>
          <div style="text-align: center">
            <h5>Master of Information Technology, Computer Science Major</h5><br>
            <img src="../../assets/images/qut.png" alt="QUT Logo" height="10%" width="10%"><br>
            <a href="https://www.qut.edu.au/courses/master-of-information-technology" target="_blank">Course Link <i
                class="fa fa-external-link" aria-hidden="true"></i></a>
          </div>
          <br>
          <div class="row">
            <!-- Left Column -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <h6>University:</h6>
                </div>
                <div class="col-md-8">
                  Queensland University of Technology
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Course Duration:</h6>
                </div>
                <div class="col-md-8">
                  2 years
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Course Started:</h6>
                </div>
                <div class="col-md-8">
                  July, 2018
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Campus:</h6>
                </div>
                <div class="col-md-8">
                  Garden's Point
                </div>
              </div>
              <br>
            </div>
            <!-- Right Column -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <h6>Course Type:</h6>
                </div>
                <div class="col-md-8">
                  Full-time
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Major Degree:</h6>
                </div>
                <div class="col-md-8">
                  Computer Science
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>CRICOS:</h6>
                </div>
                <div class="col-md-8">
                  083059E
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Status:</h6>
                </div>
                <div class="col-md-8">
                  Pursuing
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="dropdown">
        <div class="dropdown-header" id="header-2">
          <h5 style="margin: 0rem !important">
            <div class="row">
              <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11">
                <span>Under-Graduation</span>
              </div>
              <div class="col-sm-1 col-lg-1 col-xl-1">
                <button class="btn btn-link" data-toggle="collapse" data-target="#body-2" aria-expanded="false">
                  <i id="mit-caret-1" class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </h5>
        </div>
        <div class="dropdown-body collapse" id="body-2">
          <br>
          <div style="text-align: center">
            <h5>Bachelor of Technology, Electrical and Electronics Engineering</h5><br>
            <img src="../../assets/images/jntuh.jpg" alt="JNTUH Logo" height="10%" width="10%"><br>
            <a href="http://jntuhcem.ac.in/viewdept/3" target="_blank">Course Link <i class="fa fa-external-link"></i></a>
          </div>
          <br>
          <div class="row">
            <!-- Left Column -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <h6>University:</h6>
                </div>
                <div class="col-md-8">
                  Jawaharlal Nehru Technological University
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Course Duration:</h6>
                </div>
                <div class="col-md-8">
                  4 years
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Course Started:</h6>
                </div>
                <div class="col-md-8">
                  September, 2012
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Campus:</h6>
                </div>
                <div class="col-md-8">
                  Manthani
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Status:</h6>
                </div>
                <div class="col-md-8">
                  Completed
                </div>
              </div>
              <br>
            </div>
            <!-- Right Column -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <h6>Accreditation:</h6>
                </div>
                <div class="col-md-8">
                  AICTE - All India Council for Technical Education
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Course Type:</h6>
                </div>
                <div class="col-md-8">
                  Full-time
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Course Ended:</h6>
                </div>
                <div class="col-md-8">
                  May, 2016
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Overall Percentile:</h6>
                </div>
                <div class="col-md-8">
                  77.64%
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="dropdown">
        <div class="dropdown-header" id="header-3">
          <h5 style="margin: 0rem !important">
            <div class="row">
              <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11">
                <span>Pre-University</span>
              </div>
              <div class="col-sm-1 col-lg-1 col-xl-1">
                <button class="btn btn-link" data-toggle="collapse" data-target="#body-3" aria-expanded="false">
                  <i id="mit-caret-1" class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </h5>
        </div>
        <div class="dropdown-body collapse" id="body-3">
          <br>
          <div style="text-align: center">
            <!-- <h5>MPC - Maths, Physics, Chemistry & High School</h5><br> -->
            <img src="../../assets/images/narayana.png" alt="Narayana Logo" height="10%" width="10%">
          </div>
          <br>
          <h5>Pre-University College (PUC), MPC - Maths, Physics, Chemistry</h5><br>
          <div class="row">
            <!-- Left Column -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <h6>College:</h6>
                </div>
                <div class="col-md-8">
                  Narayana Junior COllege
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Course Duration:</h6>
                </div>
                <div class="col-md-8">
                  2 years
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Course Started:</h6>
                </div>
                <div class="col-md-8">
                  June 2010
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Campus:</h6>
                </div>
                <div class="col-md-8">
                  Kothapet, Hyderabad, India
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Status:</h6>
                </div>
                <div class="col-md-8">
                  Completed
                </div>
              </div>
              <br>
            </div>
            <!-- Right Column -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <h6>Accreditation:</h6>
                </div>
                <div class="col-md-8">
                  AICTE - All India Council for Technical Education
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Course Type:</h6>
                </div>
                <div class="col-md-8">
                  Full-time
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Course Ended:</h6>
                </div>
                <div class="col-md-8">
                  May 2012
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Percentile:</h6>
                </div>
                <div class="col-md-8">
                  91.8%
                </div>
              </div>
              <br>
            </div>
          </div>
          <br>
          <h5>High School</h5><br>
          <div class="row">
            <!-- Left Column -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <h6>School:</h6>
                </div>
                <div class="col-md-8">
                  Siddhartha Model High School
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Course Duration:</h6>
                </div>
                <div class="col-md-8">
                  10 years
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Course Started:</h6>
                </div>
                <div class="col-md-8">
                  June 2000
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Campus:</h6>
                </div>
                <div class="col-md-8">
                  Kamalanagar, Vanasthalipuram
                </div>
              </div>
              <br>
            </div>
            <!-- Right Column -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <h6>Course Type:</h6>
                </div>
                <div class="col-md-8">
                  Full-time
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Status:</h6>
                </div>
                <div class="col-md-8">
                  Completed
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Course Ended:</h6>
                </div>
                <div class="col-md-8">
                  May 2010
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <h6>Percentile:</h6>
                </div>
                <div class="col-md-8">
                  95.1%
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
      <br>
      <!-- Studies end, Skills start -->
      <h4>Technical Skills:</h4>
      <div class="tech-skill-set">
        <div class="row">
          <div class="col-sm-2">
            <h6>
              Angular
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped expert active" role="progressbar" aria-valuenow="85"
                aria-valuemin="0" aria-valuemax="100" style="width:85%">
                Expert
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h6>
              TypeScript
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped expert active" role="progressbar" aria-valuenow="85"
                aria-valuemin="0" aria-valuemax="100" style="width:85%">
                Expert
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h6>
              HTML5, CSS3
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped expert active" role="progressbar" aria-valuenow="80"
                aria-valuemin="0" aria-valuemax="100" style="width:80%">
                Expert
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h6>
              Visual Studio Code
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped expert active" role="progressbar" aria-valuenow="80"
                aria-valuemin="0" aria-valuemax="100" style="width:80%">
                Expert
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h6>
              Bootstrap
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped expert active" role="progressbar" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100" style="width:75%">
                Expert
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h6>
              Scrum
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped expert active" role="progressbar" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100" style="width:75%">
                Expert
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h6>
              JavaScript
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped advanced active" role="progressbar" aria-valuenow="73"
                aria-valuemin="0" aria-valuemax="100" style="width:73%">
                Advanced
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h6>
              Python
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped advanced active" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:70%">
                Advanced
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h6>
              Team Foundation Server
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped advanced active" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:70%">
                Advanced
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h6>
              MongoDB
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped advanced active" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:70%">
                Advanced
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h6>
              MySQL
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped advanced active" role="progressbar" aria-valuenow="60"
                aria-valuemin="0" aria-valuemax="100" style="width:60%">
                Advanced
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h6>
              GitHub
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped intermediate active" role="progressbar" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100" style="width:50%">
                Intermediate
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h6>
              Trello
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped intermediate active" role="progressbar" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100" style="width:50%">
                Intermediate
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h6>
              C
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped intermediate active" role="progressbar" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100" style="width:50%">
                Intermediate
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h6>
              Java
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped intermediate active" role="progressbar" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100" style="width:50%">
                Intermediate
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h6>
              Node JS
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped intermediate active" role="progressbar" aria-valuenow="45"
                aria-valuemin="0" aria-valuemax="100" style="width:45%">
                Intermediate
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h6>
              React JS
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped intermediate active" role="progressbar" aria-valuenow="45"
                aria-valuemin="0" aria-valuemax="100" style="width:45%">
                Intermediate
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h6>
              jQuery
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped beginner active" role="progressbar" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100" style="width:25%">
                Beginner
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h6>
              Express JS
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped beginner active" role="progressbar" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100" style="width:25%">
                Beginner
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <h6>
              SAP ABAP
            </h6>
          </div>
          <div class="col-sm-10">
            <div class="progress">
              <div class="progress-bar progress-bar-striped beginner active" role="progressbar" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100" style="width:25%">
                Beginner
              </div>
            </div>
          </div>
        </div>
        <br>
        <h6>Labels:</h6>
        <br>
        <div class="row">
          <div class="col-sm-3">
            <div class="progress">
              <div class="progress-bar progress-bar-striped beginner active" role="progressbar" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Beginner
              </div>
            </div>
          </div>
          <br>
          <div class="col-sm-3">
            <div class="progress">
              <div class="progress-bar progress-bar-striped intermediate active" role="progressbar" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Intermediate
              </div>
            </div>
          </div>
          <br>
          <div class="col-sm-3">
            <div class="progress">
              <div class="progress-bar progress-bar-striped advanced active" role="progressbar" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Advanced
              </div>
            </div>
          </div>
          <br>
          <div class="col-sm-3">
            <div class="progress">
              <div class="progress-bar progress-bar-striped expert active" role="progressbar" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Expert
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <!-- <h4>Survival Skills:</h4> -->
      <!-- <div class="survival-skill-set">
      <div class="row">
        <div class="col-sm-2">
          <h6>
            Cooking
          </h6>
        </div>
        <div class="col-sm-10">
          <div class="progress">
            <div class="progress-bar progress-bar-striped expert active" role="progressbar" aria-valuenow="85"
              aria-valuemin="0" aria-valuemax="100" style="width:85%">
              Expert
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <h6>
            Motorbike Riding
          </h6>
        </div>
        <div class="col-sm-10">
          <div class="progress">
            <div class="progress-bar progress-bar-striped advanced active" role="progressbar" aria-valuenow="65"
              aria-valuemin="0" aria-valuemax="100" style="width:65%">
              Advanced
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <h6>
            Swimming
          </h6>
        </div>
        <div class="col-sm-10">
          <div class="progress">
            <div class="progress-bar progress-bar-striped beginner active" role="progressbar" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100" style="width:25%">
              Beginner
            </div>
          </div>
        </div>
      </div>
    </div> -->
    </div>
  </div>
</div>