<!-- This is the social presence component -->
<br><br><br><br>
<div class="container-fluid">
    <div class="jumbotron">
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
            
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Whatsapp!</h4>
                    <button type="button" class="close" data-dismiss="modal" style="cursor: pointer">&times;</button>
                </div>
            
                <!-- Modal body -->
                <div class="modal-body">
                    <p>To add me on whatsapp, please add the below contact number on your phone and ping me with your details. I will respond to you back as soon as possible :)</p>
                    <p>My contact number is: {{contactNumber}}</p>
                </div>
            
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            
                </div>
            </div>
        </div>
        <p>I'm available on the following social websites and you can contact me or follow my progress on any of these sites.</p>
        <div class="row">
            <div class="social-card col-sm-12 col-md-4 col-lg-3 col-xl-3">
                <div class="card" style="width: inherit;">
                    <img class="card-img-top" src="../../assets/images/linkedin.jpg" alt="LinkedIn">
                    <div class="card-body">
                        <h5 class="card-title">LinkedIn</h5>
                        <a href="https://www.linkedin.com/in/pavan-teja-67216049/" target="_blank" class="btn btn-primary">Visit Profile</a>
                    </div>
                </div>
            </div>
            <div class="social-card col-sm-12 col-md-4 col-lg-3 col-xl-3">
                <div class="card" style="width: inherit;">
                    <img class="card-img-top" src="../../assets/images/fb.jpg" alt="Facebook">
                    <div class="card-body">
                        <h5 class="card-title">Facebook</h5>
                        <a href="https://www.facebook.com/pavanteja90/" target="_blank" class="btn btn-primary">Visit Profile</a>
                    </div>
                </div>
            </div>
            <div class="social-card col-sm-12 col-md-4 col-lg-3 col-xl-3">
                <div class="card" style="width: inherit;">
                    <img class="card-img-top" src="../../assets/images/instagram.jpg" alt="Instagram">
                    <div class="card-body">
                        <h5 class="card-title">Instagram</h5>
                        <a href="https://www.instagram.com/pavanteja90/" target="_blank" class="btn btn-primary">Visit Profile</a>
                    </div>
                </div>
            </div>
            <div class="social-card col-sm-12 col-md-4 col-lg-3 col-xl-3">
                <div class="card" style="width: inherit;">
                    <img class="card-img-top" src="../../assets/images/snapchat.jpg" alt="Snapchat">
                    <div class="card-body">
                        <h5 class="card-title">Snapchat</h5>
                        <a href="https://www.snapchat.com/add/pa1.teja" target="_blank" class="btn btn-primary">Add Me</a>
                    </div>
                </div>
            </div>
            <div class="social-card col-sm-12 col-md-4 col-lg-3 col-xl-3">
                <div class="card" style="width: inherit;">
                    <img class="card-img-top" src="../../assets/images/github.jpg" alt="GitHub">
                    <div class="card-body">
                        <h5 class="card-title">GitHub</h5>
                        <a href="https://github.com/pavanteja90" target="_blank" class="btn btn-primary">Visit Profile</a>
                    </div>
                </div>
            </div>
            <div class="social-card col-sm-12 col-md-4 col-lg-3 col-xl-3">
                <div class="card" style="width: inherit;">
                    <img class="card-img-top" src="../../assets/images/gmail.jpg" alt="Email">
                    <div class="card-body">
                        <h5 class="card-title">Gmail</h5>
                        <a href="mailto:pavanteja.bhatta@gmail.com" class="btn btn-primary">Gmail Me</a>
                    </div>
                </div>
            </div>
            <div class="social-card col-sm-12 col-md-4 col-lg-3 col-xl-3">
                <div class="card" style="width: inherit;">
                    <img class="card-img-top" src="../../assets/images/whatsapp.png" alt="Whatsapp">
                    <div class="card-body">
                        <h5 class="card-title">Whatsapp</h5>
                        <button type="button" class="btn btn-primary" id="intialClick" data-toggle="modal" data-target="#myModal">
                            Add Me
                        </button>
                    </div>
                </div>
            </div>
            <div class="social-card col-sm-12 col-md-4 col-lg-3 col-xl-3">
                <div class="card" style="width: inherit;">
                    <img class="card-img-top" src="../../assets/images/skype.png" alt="Skype">
                    <div class="card-body">
                        <h5 class="card-title">Skype</h5>
                        <a href="https://join.skype.com/invite/gz246F7XF8oz/" target="_blank" class="btn btn-primary">Send Message</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>