.navbar {
    background-color: transparent !important;
    background: transparent !important;
    border-color: transparent !important;
    color: white !important;
}

#about-page-slide-1 {
    height: 100vh;
    width: 100%;
    background-color: brown;
    color: white;
}

#about-page-slide-2 {
    height: 100vh;
    width: 100%;
    background-color: #444;
    color: white;
}

#about-page-slide-3 {
    height: 100vh;
    width: 100%;
    background-color: blueviolet;
    color: white;
}

.page-heading {
    text-align: center;
    font-size: 15vw !important;
}

.sub-heading {
    text-align: center;
    margin: 0 20vw;
}
a {
    text-decoration: none;
}