<!-- This is the about me component -->

<div id="about-page" class="about-page">
    <div class="section active" id="about-page-slide-1">
        <div class="page-heading">
            Hell<del>o</del>.<br>
        </div>
        <div class="sub-heading">
            <h4>What do I do?</h4>
            <p>
                <i><del>I am a Front end developer who is specialised in developing websites using Angular.
                    I have experience in developing single page applications SPA's, using Twitter Bootstrap style
                    sheets.
                    I have learnt No SQL (Mongo DB) and SQL (MySQL) databases to an extent so that I can use them just
                    for any project.
                    Blah blah blah blah blah blah blah blah blah blah.......</del></i>
            </p>
            <br>
            <h1 style="text-align: center">I "develop" what you see.</h1>
        </div>
    </div>
    <div class="section" id="about-page-slide-2">
        <div class="page-heading">
            W<del>o</del>rk.<br>
        </div>
        <div class="sub-heading">
            <h5>Infosys.</h5>
            <p>Worked as a Frontend Developer for around 18 months (Nov 2016 - Jun 2018). Cleared Power Programmers examination and worked as a Specialist programmer. Awarded as a member of "Best Team" for the financial year 2017-18.</p>
        </div>
    </div>
    <div class="section" id="about-page-slide-3">
        <div class="page-heading">
            Stay in t<del>o</del>uch?<br>
        </div>
        <div class="sub-heading">
            <br>
            <h5>pavanteja.bhatta@gmail.com</h5><br>
            <h5>(+61) 434 266 986</h5><br>
            <a class="fa fa-linkedin-square" title="LinkedIn" href="https://www.linkedin.com/in/pavan-teja-67216049/" target="_blank" aria-hidden="true" style="color: white; padding: 0px 5px; cursor: pointer;"></a>
            <a class="fa fa-facebook-square" title="Facebook" href="https://www.facebook.com/pavanteja90/" target="_blank" aria-hidden="true" style="color: white; padding: 0px 5px; cursor: pointer;"></a>
            <a class="fa fa-instagram" title="Instagram" href="https://www.instagram.com/pavanteja90/" target="_blank" aria-hidden="true" style="color: white; padding: 0px 5px; cursor: pointer;"></a>
            <a class="fa fa-skype" title="Skype" href="https://join.skype.com/invite/gz246F7XF8oz/" target="_blank" aria-hidden="true" style="color: white; padding: 0px 5px; cursor: pointer;"></a>
            <a class="fa fa-github" title="GitHub" href="https://github.com/pavanteja90" target="_blank" aria-hidden="true" style="color: white; padding: 0px 5px; cursor: pointer;"></a>
            <br>
        </div>
    </div>
</div>