<!-- This is the chill-outs component -->
<div class="chill-page">
    <br><br><br>
    <section id="chill-page-slide-2">
        <div class="page-heading">
            This is what I usually do when I have some time to spare.
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="img-container">
                    <img class="image" src="../../assets/images/games/badminton.jpg">
                    <div class="overlay">
                        <div class="text">Playing Badminton</div>
                    </div>
                </div>
                <div class="img-container">
                    <img class="image" src="../../assets/images/games/film.jpg">
                    <div class="overlay">
                        <div class="text">Watching Films</div>
                    </div>
                </div>
                <div class="img-container">
                    <img class="image" src="../../assets/images/games/touring.jpg">
                    <div class="overlay">
                        <div class="text">Touring</div>
                    </div>
                </div>
                <div class="img-container">
                    <img class="image" src="../../assets/images/games/chess.jpg">
                    <div class="overlay">
                        <div class="text">Playing Chess</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-container">
                    <img class="image" src="../../assets/images/games/cooking.jpg">
                    <div class="overlay">
                        <div class="text">Cooking</div>
                    </div>
                </div>
                <div class="img-container">
                    <img class="image" src="../../assets/images/games/netflix.jpg">
                    <div class="overlay">
                        <div class="text">Netflix</div>
                    </div>
                </div>
                <div class="img-container">
                    <img class="image" src="../../assets/images/games/tt.jpg">
                    <div class="overlay">
                        <div class="text">Playing Table Tennis</div>
                    </div>
                </div>
                <div class="img-container">
                    <img class="image" src="../../assets/images/games/cricket.jpg">
                    <div class="overlay">
                        <div class="text">Watching & Playing Cricket</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="img-container">
                    <img class="image" src="../../assets/images/games/trekking.jpg">
                    <div class="overlay">
                        <div class="text">Trekking</div>
                    </div>
                </div>
                <div class="img-container">
                    <img class="image" src="../../assets/images/games/programming.jpg">
                    <div class="overlay">
                        <div class="text">Programming</div>
                    </div>
                </div>
                <div class="img-container">
                    <img class="image" src="../../assets/images/games/motorcycle.jpg">
                    <div class="overlay">
                        <div class="text">Motorcycle Riding</div>
                    </div>
                </div>
                <div class="img-container">
                    <img class="image" src="../../assets/images/games/youtube.jpeg">
                    <div class="overlay">
                        <div class="text">Youtube</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="color: white; font-size: 4vh; text-align: center;">
            Finally, some pictures of me!
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="img-container">
                    <img class="image" src="../../assets/images/mypics/mypic5.JPG">
                    <div class="overlay">
                        <div class="text">Ooty</div>
                    </div>
                </div>
                <!-- <img src="../../assets/images/mypics/mypic.jpg"> -->
            </div>
            <div class="col-md-4">
                <div class="img-container">
                    <img class="image" src="../../assets/images/mypics/mypic3.JPG">
                    <div class="overlay">
                        <div class="text">Puducherry</div>
                    </div>
                </div>
                <!-- <img src="../../assets/images/mypics/mypic2.JPG"> -->
            </div>
            <div class="col-md-4">
                <!-- <img src="../../assets/images/mypics/mypic1.jpg"> -->
            </div>
        </div>
        <br><br><br>
    </section>
</div>